.loans-list {
    margin-top: 20px;
}

.loans-list button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loans-list button:hover {
    background-color: #135ba1;
}
