.loans-list-container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: #0e3a48;
    color: #b1a20f;
    width: 100%;
    min-height: 100vh;
}

.app-bar {
    background-color: #b1a20f !important;
}

.search-container {
    text-align: center;
    padding-bottom: 3rem;
}

.reviews-table {
    padding-bottom: 10rem;
    margin-top: 1rem;
    background-color: #fff;
    color: #333;
}

.reviews-table .MuiTableHead-root {
    background-color: #ddd;
}

.reviews-table .MuiTableCell-head {
    color: #000;
}

.reviews-table .MuiTableBody-root .MuiTableRow-root:nth-child(even) {
    background-color: #f9f9f9;
}

.reviews-table .MuiTableCell-root {
    border-bottom: 1px solid #e0e0e0;
}

.reviews-table .MuiButton-root {
    margin-top: 8px;
    background-color: #1976d2;
    color: white;
}

.reviews-table .MuiButton-root:hover {
    background-color: #135ba1;
}

.reviews-table .MuiTablePagination-root {
    background-color: #f0f0f0;
}

.reviews-table .MuiTablePagination-caption {
    color: #555;
}

.reviews-table .MuiIconButton-root {
    color: #333;
}
