.reviews-table {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: #0e3a48;
    color: #b1a20f;
}

.reviews-table h1 {
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: #98890b;
    font-size: 3.5em;
}

.reviews-table .MuiOutlinedInput-root {
    background-color: #e1dfdb;
}

.reviews-table .MuiFormLabel-root {
    color: #000000;
}

.reviews-table .MuiInputBase-input {
    color: #333;
}

.reviews-table .MuiIconButton-root {
    color: #333;
}

.reviews-table .MuiTablePagination-caption {
    color: #555;
}

.reviews-table .MuiTablePagination-input {
    color: #333;
}

.reviews-table .MuiTablePagination-actions button {
    color: #333;
}

.reviews-table .MuiTablePagination-actions button:hover {
    background-color: #ddd;
}

.reviews-table .MuiTableHead-root {
    background-color: #ddd;
}

.reviews-table .MuiTableCell-head {
    color: #000;
}

.reviews-table .MuiTableBody-root .MuiTableRow-root:nth-child(even) {
    background-color: #f9f9f9;
}

.app-bar {
    background-color: #b1a20f !important;
}
