.add-user-container {
    padding: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: #0e3a48 !important;
    color: #b1a20f;
}

.app-bar {
    background-color: #b1a20f !important;
}

.add-user-page {
    padding: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: #0e3a48;
    color: #b1a20f;
}

.form-paper {

    padding-bottom: 3rem !important;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
}
