
.books-list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: #0e3a48; /* Tło strony */
    color: #b1a20f; /* Kolor tekstu */
}

.books-list h1 {
    color: #b1a20f; /* Kolor nagłówka */
}

.books-list .MuiOutlinedInput-root {
    background-color: #fff; /* Tło pola wyszukiwania */
}

.books-list .MuiFormLabel-root {
    color: #b1a20f; /* Kolor etykiety pola wyszukiwania */
}

.books-list .MuiInputBase-input {
    color: #333; /* Kolor tekstu w polu wyszukiwania */
}

.books-list .MuiIconButton-root {
    color: #333; /* Kolor ikon przycisków paginacji */
}

.books-list .MuiTablePagination-caption {
    color: #555; /* Kolor tekstu opisującego paginację */
}

.books-list .MuiTablePagination-input {
    color: #333; /* Kolor tekstu w polu wprowadzania liczby wyników na stronę */
}

.books-list .MuiTablePagination-actions button {
    color: #333; /* Kolor tekstu w przyciskach paginacji */
}

.books-list .MuiTablePagination-actions button:hover {
    background-color: #ddd; /* Zmiana koloru tła przycisków paginacji po najechaniu myszką */
}

.books-list .MuiTableHead-root {
    background-color: #ddd; /* Tło nagłówka tabeli */
}

.books-list .MuiTableCell-head {
    color: #000; /* Kolor tekstu w nagłówku tabeli */
}

.books-list .MuiTableBody-root .MuiTableRow-root:nth-child(even) {
    background-color: #f9f9f9; /* Tło co drugiego wiersza tabeli */
}
