.books-list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: #0e3a48; /* Tło strony */
    color: #b1a20f; /* Kolor tekstu */
}
.books-list a {
    color: inherit; /* Ensures links do not stand out from the rest of the text */
    text-decoration: none; /* Removes underline from links */
}

.books-list a:hover {
    background-color: #ddd; /* Adds a hover effect for better user feedback */
}
