.books-list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: #0e3a48; /* Tło strony */
    color: #b1a20f; /* kolor tekstu */
}
.books-list a {
    color: inherit;
    text-decoration: none;
}

.books-list a:hover {
    background-color: #ddd;
}
