.book-detail-container {
    background-color: #0e3a48;
    padding: 6rem;
    color: #ffffff;
}

.book-detail-container .app-bar {
    background-color: #b1a20f !important;
    color: white !important;
}

.book-detail-container .content {
    margin: 2rem;
    padding: 2rem;
    background-color: #0e3a48;
    color: #b1a20f;
}

.book-detail-container .title {
    text-align: center;
    margin-bottom: 1rem;
}

.book-detail-container .table-container {
    display: flex;
    justify-content: center;
    max-width: 650px;
    margin: auto;
}



.book-detail-container .MuiTableCell-root {
    color: #333; /* Text color inside the table */
}


.book-detail-container .MuiPaper-root {

    color: #b1a20f;
}
