.home-page-container {
    display: flex;
    padding-bottom: 17rem;
    flex-direction: column;
    align-items: center;
    background-color: #295980;
}

.app-bar {
    background-color: #b1a20f !important;
}
.title {
    flex-grow: 1;
}

.form-container {
    margin-top: 3rem;
}

.form-title {
    color: #b1a20f;
    padding: 2rem;
    text-align: center;
    font-style: oblique !important;
    justify-content: center !important;
    align-items: center !important;

}

.login-form {
    padding-top: 2rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-button{
    background-color: #295980 !important;
    color: white !important;
}
.login-button .MuiSvgIcon-root {
    color: white !important;
}
.MuiMenu-paper {
    padding: 5px 0;
}

